torch==2.7.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers
fastapi
uvicorn
openai
PyPDF2
python-multipart
pydantic
aiofiles
python-dotenv
PyMuPDF
langchain==0.1.0
pytesseract
numpy
faiss-cpu
pillow
requests
scikit-learn
scipy
transformers
